<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">Inbox</a>
        <a class="mdl-navigation__link" href="/outbox">Outbox</a>
        <a class="mdl-navigation__link" href="/messages/new">New message</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Messages</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Inbox</a>
      <a class="mdl-navigation__link" href="/outbox">Outbox</a>
      <a class="mdl-navigation__link" href="/messages/new">New message</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">

    </div>
  </main>
</div>
